@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;800&display=swap');


html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Inter', sans-serif;
}

*{
    list-style: none;
    text-decoration: none;
    border: none;

}

body {
    background-image: url(/images/Padrão\ pokemon.png);
    background-repeat: none;
    background-size: 180%;
    background-color: rgb(36, 36, 36);
    background-blend-mode: darken;
    color: aliceblue;
}

.container {
    color: black;
    font-size: large;
    background-color: rgb(230, 232, 235);
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80%;
    height: 30%;
    left: 9.5%;
    top: 5%;
    border: solid #FFCA0E 15px;
}