@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;800&display=swap');

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
}

header {
  font-size: medium;
  display: flex;
  justify-content: space-between;
  color: #7CE0FF;
  position: absolute;
  margin: auto;
  width: 75%;
  height: 3%;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

* {
  list-style: none;
  text-decoration: none;
  border: none;
}

body {

  background-image: url(/images/Padrão\ pokemon.png);
  background-repeat: none;
  background-size: 180%;
  background-color: rgb(36, 36, 36);
  background-blend-mode: darken;
  color: aliceblue;
}

.container_principal {
  color: #092E3A;
  padding-left: 2%;
  padding-right: 2%;
  font-size: medium;
  background-position: center;
  background-repeat: none;
  background-image:url(/images/padrão\ menu.jpg);
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
  width: 78%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid #FFCA0E 20px;
  margin-top: 50px;
}

.container_principal img {
  width: 30%; 
  max-width: 350px; 
  height: auto;
}

.container_principal article {
  border: solid #5C9BAF 15px;
  background-color: rgb(248, 236, 221);
  text-align: justify;
  line-height: 1.5;
  width: 60%; 
  max-width: 800px; 
  height: 88%; 
  overflow: auto;
}

.container_principal iframe {
  border: solid #FFCA0E 5px;
  width: 100%; 
  max-width: 600px;
  height: 300px;
}

footer {
  left: 0;
  bottom: 0;
  margin-top: 50%;
  width: 100%;
}
