@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;800&display=swap');

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Inter', sans-serif;
}

*{
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url(/images/Padrão\ pokemon.png);
    background-repeat: none;
    background-size: 180%;
    background-color: rgb(36, 36, 36);
    background-blend-mode: darken;
    
}
.container_principal {
    font-size: large;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1448px;
    height: 907px;
    left: 199px;
    top: 117px;
    border: solid #FFCA0E 20px;
}

.menu_navigation {
    background-position: center;
    background-repeat: none;
    background-image:url(/images/padrão\ menu.jpg);
    display :flex;
    justify-content: center;
    position: relative;
    width: 480px;
    height: 870px;
    left: 10px;
    mix-blend-mode: normal;
    border-right: solid #5C9BAF 20px;
}

/* Box do texto principal */
.titulo {
    position: absolute;
    height: 100px ;
    width:500px ;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
   
}

.box_texto {
    display: flex;
    align-items: center;
    background-color: rgb(230, 232, 235);
    margin-left: 0px;
    width: 1440px;
    height: 870px;
    border-left: solid #FFCA0E 20px;
}

.texto_introdutorio {
    text-align: center;
    font-size: large;
    position: absolute;
    width: 750px;
    height: 400px;
    left: 500px;
    top: 200px;
    background-color: rgb(230, 232, 235);   
}
.timeline {
    position: absolute;
    border: solid #FFCA0E 5px ;
    top: 65%;
    left: 10%;
    width: 650px;
    height: 400px;
   
}