@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;800&display=swap');


html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Inter', sans-serif;
}

*{
    list-style: none;
    text-decoration: none;
    border: none;

}

body {
    background-image: url(/images/Padrão\ pokemon.png);
    background-repeat: none;
    background-size: 180%;
    background-color: rgb(36, 36, 36);
    background-blend-mode: darken;
    color: aliceblue;
}

.container_principal {
    color: #092E3A;
    font-size: medium;
    background-color: rgb(220, 230, 226);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 78%;
    height: 80%;
    left: 10%;
    top: 6%;
    border: solid #FFCA0E 20px;
}

.container_principal img {
    position: relative;
    top: 7%;
    left: 2%;
    width: 350px;
    height: 600px;
    bottom: 3%;
    
}

.container_principal article {
    text-align: center;
    line-height: 2;
    position: relative;
    width: 60%;
    top: 5%;
    left: 10%;
    bottom: 3%;

}

.container_principal iframe {
    border: solid #FFCA0E 5px;
    height: 200px;
    width: 400px;
}